<div class="plan">
  <div class="text">プランテキスト</div>
  <div class="plan-body">
    <div class="price">
      <span class="yen">￥</span>5,000
      <p class="memo">月額</p>
    </div>
  </div>
  <ul class="list">
    <il class="item">入会金0円</il>
    <il class="item">平日:9時～17時</il>
    <il class="item">土日祝:利用ナシ</il>
    <il class="item">コアタイムプランでの利用に最適なプラン</il>
  </ul>
</div>

<div class="plan">
  <div class="text">プランテキスト</div>
  <div class="plan-body">
    <div class="price">
      <span class="yen">¥</span>5,000
      <p class="memo">月額</p>
    </div>
  </div>
  <ul class="list">
    <il class="item">入会金0円</il>
    <il class="item">平日:9時～17時</il>
    <il class="item">土日祝:利用ナシ</il>
    <il class="item">コアタイムプランでの利用に最適なプラン</il>
  </ul>
</div>
