<div class="news">
  <div class="news-and-events-title">
    <h2>News<span class="caption">お知らせ</span></h2>
  </div>
  <div class="news-list">
    <article class="news-card">
      <a href="#">
        <div class="news-caption">
          <time datetime="2018-8-23">2018.06.20</time>
          <p>
            ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
          </p>
        </div>
      </a>
    </article>
    <article class="news-card">
      <a href="#">
        <div class="news-caption">
          <time datetime="2018-8-23">2018.06.18</time>
          <a class="report" href="#"
            >3種のレイアウトから選択できるテンプレートを固定ページに実装</a
          >
        </div>
      </a>
    </article>
    <article class="news-card">
      <a href="#">
        <div class="news-caption">
          <time datetime="2018-8-23">2018.06.12</time>
          <a class="report" href="#"
            >利用者からのご質問をまとめた「FAQ」ページをアップしました。</a
          >
        </div>
      </a>
    </article>
    <article class="news-card">
      <a href="#">
        <div class="news-caption">
          <time datetime="2018-8-23">2018.06.08</time>
          <a class="report" href="#">
            デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
          </a>
        </div>
      </a>
    </article>
    <article class="news-card">
      <a href="#">
        <div class="news-caption">
          <time datetime="2018-8-23">2018.06.02</time>
          <a class="report" href="#">テーマのアップデート情報について</a>
        </div>
      </a>
    </article>
  </div>
  <a href="#" class="news-and-events-more">
    お知らせ一覧<i class="fas fa-chevron-right"></i>
  </a>
</div>
